ErrorDocument 404 /Error/404.php

## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access 1 hour"
</IfModule>
## EXPIRES CACHING ##

#php_flag display_errors on

#RewriteEngine On

##mysql.tetrium.tk
#RewriteCond %{HTTP_HOST} ^(www\.)?mysql\.tetrium\.tk$
#RewriteCond %{REQUEST_URI} !^/phpmyadmin
#RewriteRule ^(.*)$ /phpmyadmin/$1 [L]