ErrorDocument 404 /Error/404.php

## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive Off
ExpiresDefault "A600"


# Set up caching on media files for 1 year (forever?)
<FilesMatch "\.(flv|ico|pdf|avi|mov|ppt|doc|mp3|wmv|wav)$">
ExpiresDefault A3600
Header append Cache-Control "public"
</FilesMatch>

# Set up caching on media files for 1 week
<FilesMatch "\.(gif|jpg|jpeg|png|swf)$">
ExpiresDefault A3600
Header append Cache-Control "public"
</FilesMatch>

# Force no caching for dynamic files
<FilesMatch "\.(php|cgi|pl|htm|html|css|js)$">
ExpiresActive Off
Header set Cache-Control "private, no-cache, no-store, proxy-revalidate, no-transform"
Header set Pragma "no-cache"
</FilesMatch>
</IfModule>





## EXPIRES CACHING ##

#php_flag display_errors on

RewriteEngine On

##cloud.tetrium.tk
RewriteCond %{HTTP_HOST} ^(www\.)?cloud\.tetrium\.tk$
RewriteCond %{REQUEST_URI} !^/owncloud
RewriteRule ^(.*)$ /owncloud/$1 [L]

##mysql.tetrium.tk
#RewriteCond %{HTTP_HOST} ^(www\.)?mysql\.tetrium\.tk$
#RewriteCond %{REQUEST_URI} !^/phpmyadmin
#RewriteRule ^(.*)$ /phpmyadmin/$1 [L]
