* {
	margin: 0;
	padding: 0;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 100%;
	min-width: 1000px;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 100px;
	background: #FFE680;
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
	border-left: 200px solid #B5E3FF;
	border-right: 200px solid #FFACAA;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '';
	clear: both;
	display: table;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
	margin-right: -100%;
}
#content {
	padding: 0 20px;
}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 200px;
/* height: 700px; */	
	max-height:1000px;
	position: relative;
	background: #B5E3FF;
	left: -200px;
}


/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: right;
	margin-right: -200px;
	width: 200px;
/* height: 700px; */	
	max-height:1000px;
	position: relative;
	background: #FFACAA;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	height: 25px;
	/*background: #BFF08E;*/
	position:absolute; 
    bottom: 0px;
	width: 100%;
}



















.testbutton {
  font-family: 'arial black';
  color: #14396A !important;
  font-size: 15px;
  padding: 0px 10px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background: #63B8EE;
}
.testbutton:hover {
  color: #14396A;
  background: #468CCF;
  background: linear-gradient(top,  #468CCF,  #63B8EE);
  background: -ms-linear-gradient(top,  #468CCF,  #63B8EE);
  background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));
  background: -moz-linear-gradient(top,  #468CCF,  #63B8EE);
}